datacenter = "dc1"
server = true
bootstrap_expect = 3
node_name = "{{inventory_hostname}}"
data_dir = "{{consul_data_dir}}"
bind_addr = "{{ansible_default_ipv4.address}}"
client_addr = "127.0.0.1"
encrypt = "{{consul_encrypt_key}}"
retry_join = ["{{ groups['consul']|join('","') }}"]
log_level = "DEBUG"
ui = true
enable_syslog = true
acl_enforce_version_8 = true
addresses {
  https = "{{ansible_default_ipv4.address}}"
}
ports {
  https = 8501
}
key_file = "{{ssl_key_dir}}/server.key"
cert_file = "{{ssl_cert_dir}}/server.crt"